@import '../../../../style-themes';

.subscriptions-form {
    display: flex;
    flex-flow: column;
    width:auto;
    max-width: 500px;
}
.invalid {
    border-color: $invalid-color;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    &-font {
        font-size: 75%;
    }
}