@import '../../../../style-themes';

.subscriptions-form {
    display: flex;
    flex-flow: column;
    width:auto;
    max-width: 500px;
    mat-card {
        margin: 10px;
    }

    mat-form-field {
        width: 100%;
    }
}
.invalid {
    border-color: $invalid-color;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    &-font {
        font-size: 75%;
    }
}